<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BT Beacons via PubNub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.css">
</head>
<body>

<div class="grid-container">
    <h3>Beacon Scanner: <span id="status">Initializing</span>
        <small id="category"></small>
    </h3>
    <small>{{ sub_key }}</small>


    <div class="grid-x grid-margin-x">
        <div class="cell small-4">
            <form>
                <label for="allowed-error">Max Allowed Error</label>
                <div class="input-group">
                    <input class="input-group-field" id="allowed-error" type="number">
                    <div class="input-group-button">
                        <button type="button" class="button"
                                onclick="setAllowedError(document.getElementById('allowed-error').value)">
                            Set
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div id="svgSpace" class="cell auto" style="border: 1px solid dimgray;"></div>

        <div class="cell small-2">
            <button id="toggle" onclick="toggleUpdate()" type="button" class="success button">Pause</button>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <h5>Performance</h5>
        <div id="rangeSvg" class="cell auto"></div>
    </div>

    <div class="grid-x grid-margin-x" style="margin-top: 25px;">
        <div class="cell small-3">
            <h5>Raw Messages</h5>
        </div>
    </div>

    <hr/>

    <div class="grid-x grid-margin-x" id="messages" data-sub-key="{{ sub_key }}">
        <div id="ranged_ctr" class="cell auto">
            <h5>ranged</h5>
            <div id="ranged" style="height: 300px; overflow-y: scroll;"></div>
        </div>
        <div id="located_ctr" class="cell auto">
            <h5>located</h5>
            <div id="located" style="height: 300px; overflow-y: scroll;"></div>
        </div>
    </div>

    <div class="grid-x grid-margin-x" id="messages2">
        <div id="raw_channel_ctr" class="cell auto">
            <h5>raw_channel</h5>
            <div id="raw_channel" style="height: 300px; overflow-y: scroll;"></div>
        </div>

        <div id="nodes_ctr" class="cell auto">
            <h5>nodes</h5>
            <div id="nodes" style="height: 300px; overflow-y: scroll;"></div>
        </div>
    </div>

    <div class="grid-x grid-margin-x" id="footer" style="margin-top: 25px;">
        <div class="cell auto shadow"><span style="font-size: 0.7em; color: dimgray">(C) 2019 Starling IoT</span></div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.3.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="{{ url_for('static', filename='position-chart.js')}}"></script>
<script src="{{ url_for('static', filename='range-chart.js')}}"></script>
<script src="{{ url_for('static', filename='main.js')}}"></script>

</body>
</html>